<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatiapp.post('/checkout', (req, res) => {
        User.findOne().sort({_id: -1}).limit(1).updateOne({checkOut: new Date().toLocaleTimeString()}).exec((err, data) => {
            console.log(data);
            res.redirect('/');
        });
    });ble" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/checkout.css">
    <title>Entry Management Application</title>
</head>
<body>
        <div class="bg-image"></div>
        <div class="bg-text">
                <form action="/checkOut/<%= data._id %>" method="POST" class="ui form">
                <h1>Welcome, <%= data.visitorname %> </h1>
                <button class="ui red big button" type="submit">Check-out </button>
                </form>
        </div>
</body>
</html>